.btn-primary {
    color: #fff;
    background-color: #006837;
    border-color: #006837;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #006837;
    border-color: #006837;
}
